<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            height: 100px;
            width: 100px;
            background-color: purple;
        }
    </style>
</head>
<body>
    <div id='app'>
        <div>

            {{greeting}}
        </div>
        <div class='box' v-if='isVisible'></div>
        <form>
            <input v-model='greeting' ></input>
        </form>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function (){
                return{
                    greeting: 'Hello Vue 3!',
                    isVisible: true,
                }
            }
        });
        app.mount('#app')

    </script>

</body>
</html>
