<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            height: 100px;
            width: 100px;
            background-color: purple;
        }
        [v-cloak]{
            display: none;
        }
        input{
            display: block;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div id='app' v-cloak>
        <div>
            For some reason I am tired today
            {{greeting}}
        </div>
        <button @click.prevent='toggleBox'>toggle Box</button>
        <div class='box' v-if='isVisible'></div>
        <input v-model='greeting' @keyup.enter='greet(greeting + "!!!!!")' ></input>
        <custom-form />

    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function (){
                return{
                    greeting: 'Hello Vue 3!',
                    isVisible: true,
                }
            },
            methods:{
                toggleBox(){
                    this.isVisible = !this.isVisible;
                },
                greet(someStuff){
                    console.log(someStuff)
                }
            }
        });

        app.component('custom-form', {
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1>{{title}}</h1>
                    <custom-input
                        v-for="(input,i) in inputs"
                        :key="i"
                        v-model='input.value'
                        :label="input.label"
                        :type="input.type"
                    />
                    <button > Submit </button>
                </form>
                `,
                components: ['custom-input'],
                data() {
                    return {
                        title: 'Login Form',
                        inputs: [
                            {
                                label: "Email",
                                value: '',
                                type: 'email'
                            },
                            {
                                label: "Password",
                                value: '',
                                type: 'password'
                            }
                        ],
                        email:'',
                        password:'',
                        emailLabel: 'Email',
                        passwordLabel: 'Password'
                    }
                },
                methods: {
                    handleSubmit() {
                        console.log('submitted',this.input[0], this.input[1]);
                    }
                }
        })
        app.component('custom-input', {
            template: `
                <label>
                    {{label}}
                    <input :type="type" v-model='inputValue'>
                </label>
                `,
                props:['label', 'modelValue', 'type'],
                computed: {
                    inputValue:{
                        get(){
                          return  this.modelValue
                        },
                        set(value) {
                            console.log(value);
                            this.$emit('update:modelValue', value)
                        }
                    }
                }
                // data() {
                //     return{
                //         inputValue: ''
                //     }
                // },

        })

        app.mount('#app')

    </script>

</body>
</html>
